---
layout: minimal
title: "@defarbs - Posts"
permalink: /posts/
description: "Take a look at my posts..."
---
<meta http-equiv="content-language" content="en" />
<style>
/*change the thinkness of the scrollbar here*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  box-shadow: inset 0 0 0px rgba(0,0,0,0); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
  box-shadow: inset 0 0 0px rgba(0,0,0,0); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/*this is the little scrolly thingy ma jigger in the bar*/ 
::-webkit-scrollbar-thumb {
	background: #5d4d7a;
	height: 3px;
}
/*nobody needs the dumb scrollbar corner*/  
::-webkit-scrollbar-corner { display: none; height: 0px; width: 0px; }
</style>
<h2>Posts</h2>
{% for tag in site.categories %}
  <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>
          <a title="Wow, a post title!" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
              <span class="entry-date">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
          </a>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}