---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
<meta http-equiv="content-language" content="en" />
    {% include head.html %}
    <style>
        html, body {
            background-color: #5d4d7a;
        }
        .icon_menu {
            cursor: pointer;
            padding: .313rem;
            border-radius: .188rem;
            background: #403554;
            width: 2.5rem;
            height: 2.5rem;
            fill: #fff;
        }
    </style>
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <main role="main" class="content">
                {{ content }}
            </main>
        {% include scripts.html %}
    </body>
    {% include footer.html %}
    <script>
        var message = "Please check back soon... :)";
        var original = document.title;
        
        window.onblur = function () { document.title = message; }
        window.onfocus = function () { document.title = original; }
      </script>
</html>
